body {
    background-image: url('Foto/ME.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titel {
    text-align: center;
    width: 1335px;
    background-color: lightgray;
    padding: 12px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

@media only screen and (min-width: 992px) {
    .nlink {
        padding: 12px;
        background-color: white;
        width: 7%;
    }
    .link {
        padding: 12px;
        background-color: lightgray;
        width: 100%;
    }
    .Blog1 {
        width: 700px;
        background-color: lightgrey;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        margin-top: 50px;
    }
    .link2 {
        background-color: lightgray;
        padding: 12px;
        width: 33%;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nlink {
        padding: 12px;
        background-color: white;
        width: 13%;
    }
    .link {
        padding: 12px;
        background-color: lightgray;
        width: 100%;
    }
    .Blog1 {
        width: 70%;
        background-color: lightgrey;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        margin-top: 50px;
    }
    .link2 {
        background-color: lightgray;
        padding: 12px;
        width: 33%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .nlink {
        padding: 12px;
        background-color: white;
        width: 33%;
    }
    .link {
        padding: 12px;
        background-color: lightgray;
        width: 100%;
    }
    .Blog1 {
        width: 95%;
        background-color: lightgrey;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        margin-top: 50px;
    }
    .link2 {
        background-color: lightgray;
        padding: 12px;
        width: 100%;
        margin-bottom: 30px;
    }
    .KatFoto {
        width: 200%;
    }
    .fototo {
        width: 70%;
    }
}

img.Mepic {
    border-radius: 60px;
    width: 600px;
    height: 500px
}

header{
    display: flex;
    justify-content: center;
}

.nlink:hover{
    background-color: lightgray;
}

.link:hover {
    background-color: gray;
}
.link:focus {
    background-color: white;
}
nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
    width: 100%;
}

.blogp {
    padding: 10px
}

.fotototo {
    display: flex;
    justify-content: space-around;
}
.fototo {
    display: flex;
    justify-content: space-around;
}
.sectionblogs {
    display: flex;
    justify-content: center;
}
.Tit1 {
    text-align: center;
}
.introlink {
    text-decoration: none;
    color: black;
}
.introlink:hover {
    color: blue;
}
.introblog1{
    display: flex;
    justify-content: space-around;
}
.introblog2 {
    display: flex;
    justify-content: center;
}
.introart {
    background-color: lightgrey;
    width: 600px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
.indexp {
    text-align: center;
}
h4 {
    text-align: center;
}

.link2:hover {
    background-color: gray;
}
.link2:focus {
    background-color: white;
}
.Mepic {
    border-radius: 60px;
    width:15%;
}
#Blogs {
    display: flex;
    justify-content: center;

}